<!DOCTYPE html>
<html>
<head>
	<title>Semi-Restful</title>

	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'semiAppCSS/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'semiAppCSS/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
	<body>
		
		<h1>Edit Product {{ products.product_name }}</h1>
		
		<hr>
		<div class= "itembox">
			<form action="/">
				<input type="text" name="editname">
				<input type="text" name="editdescription">


		{% csrf_token %}
			 <a href="/shows/{{ products.id }}"> Show</a>
			 <a href="/">Back</a>
		</div>

	</body>
</html>