<!DOCTYPE html>
<html>
<head>
	<title>Email Registration</title>
</head>
<body>



	<h1>Email Registration</h1>

	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<form action="/process" method="POST">
	{% csrf_token %}
		<input type="text" name="email">
	<!-- 	<input type="text" name="password">
		<input type="text" name="confirm"> -->
		<input type="submit" name="submit">
	</form>

</body>
</html>